body {
    margin: 0;
    font-family:  Arial, sans-serif;
    font-size: 14px;
    
    
}



.underline-on-hover:hover {
    text-decoration: underline;

}


#navmenu {
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
   
}

#navmenu a {
    margin-right: 25px;
    margin-top: 25px;
}

#logo {
    display: flex;
    justify-self: center;
    margin-left: 824px;
    margin-top: 217px;
   
}

#searchbox {
    display: flex;
    justify-self: center;
    margin-left: 671px;
    margin-top: 26px;
    

}

.round {
    width: 580px;
    border-radius: 40px;
    border: 0.5px rgb(226, 220, 220) solid;
    opacity: 80%;
    position: center;
    height: 46px;
   
}

#searchbuttons {
    display: inline-flex;
    margin-left: 815px;
    margin-top: 15px;
    height: 35.5px;
    
    
}

.button1 {
    font-family: Arial, sans-serif;
    border: none;
    font-size: 14px;
    background-color: rgba(245, 245, 245, 0.924);
    opacity: 90%;
    border-radius: 4px;
    margin-right: 10;
    text-align: center;
    width: 135px;
    cursor: pointer;

}

.button2 {
    font-family: Arial, sans-serif;
    border: none;
    font-size: 14px;
    background-color: rgba(245, 245, 245, 0.924);
    opacity: 90%;
    border-radius: 4px;
    margin-left: 10px;
    width: 135px;
    text-align: center;
    cursor: pointer;
}



#pagelanguage {
    margin-left: 843px;
    margin-top: 13px;
    font-size: 13px;
    
    
    
    
    
}

.txtblue {
    text-decoration: ;
}




